.section-title {
  text-align: center;
  margin-top: 2rem;
}

.projects-container {
  margin-top: 4rem;
  width: 100%;
  display: flex;
  justify-content: center;
}

@media (max-width: 768px) {
  .projects-container {
    flex-direction: column;
  }
}
